* { /* Serve per resettare le caratteristiche di default del browser */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  
.clearfix::after { /* Serve per dare un contenuto al div padre di elementi floattanti */
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: #DCDCDC;
}

main {
    padding-bottom: 45px;
    display: flex;
}

.header_container {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    height: 54px;
    background-color: #232427;
    align-items: center;
}

.main_container {
    height: calc(100vh - 45px - 54px - 45px);
    overflow: hidden;
    position: relative;
}

.participants_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.participant {
    border: 3px solid black;
    min-width: 250px;
    max-width: 300px;
    min-height: 120px;
    max-height: 190px;
    width: calc(100% / 5 - 10px);
    flex-shrink: 0;
    transition: border-color 0.3s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.participant:hover {
    border-color: green;
}

.pagination_button {
    position: absolute;
    top: 50%;
    background-color: #232427;
    padding: 14px;
    transform: translateY(-50%);
}

.pagination_button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.pagination_button a i {
    color: rgb(0, 162, 255);
    font-size: 60px;
}

.pagination_button_left {
    left: 0;
}

.pagination_button_right {
    right: 0;
}

.button {
    background-color: #232427;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    margin-right: 12px;
    font-size: 14px;
}

.chat_container {

}

.chat_header {

}

.chat_messages_container {

}

.chat_new_message_container {
    
}

.footer_container div a i {
    font-size: 24px;
}

.footer_container div a {
    color: lightgray;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 6px;
    margin-right: 10px;
}

.footer_button_container {
    display: flex;
    justify-content: center;
}